{{ partial "head.html" . }}
{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseUrl }}
{{ $infomap := .Params.categoryinfo }}

<section id="category-list">

  <h1>{{ .Title }}</h1>

	<div class="categories">
	  {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      {{ with index $infomap $name }}
	    <div class="category">
	    <a href="/categories/{{ $name | urlize }}"> 
		    <div class="image">{{ .icon | safeHtml }}</div>
	      <h2>{{ .title }}</h2>
	      <p>{{ .description }}</p>
      </a>
      </div>

      {{ end }}
	  {{ end }}
	</div>

</section>

{{ partial "footer.html" . }}
