{{ partial "head.html" . }}
{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseUrl }}
{{ $categories := .Params.categories }}
{{ $tags := .Params.tags }}

<section>
<article class="single">

  <div class="taxonomy">
	<p class="categories">
	  {{ with $categories }}
	      Posted in
	      {{ range $categories }}
	          <a href="{{ $baseurl }}/categories/{{ . | urlize }}">{{ . }}</a>
	      {{ end }}
	  {{ end }}
	</p>

  <p class="tags">
	  {{ with $tags }}
	      Tagged with
	      {{ range $tags }}
	          <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
	      {{ end }}
	  {{ end }}
	</p>
	</div>

  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <hr><p class="author">{{ .Params.author }}</p>

</article>


<div id="muut-custom"></div>

<link rel="stylesheet" href="//cdn.moot.it/latest/moot.css">
<script src="//cdn.muut.com/1/moot.min.js"></script>
<style> 
  a.m-login { display:none; }
  a.m-sso-link { display:none; }
  #moot-logo { padding : 0;}
</style>

<script>

  var conf = {
  	 login_url: 'https://adapt.dk/',
     url: "https://muut.com/i/thehome/comments:{{ trim ( replace .RelPermalink "/" "-" ) "-" }}",
     show_online: true,
     upload: false
     //api : { }
  };

	$.ajax({
	   type: 'GET',
	    url: "http://dsr.dev/auth.php?callback=?",
	    async: false,
	    jsonpCallback: 'jsonCallback',
	    contentType: "application/json",
	    dataType: 'jsonp',
	    success: function(json) {
	       conf.api = json.api;
	       $("#muut-custom").muut(conf);
	    },
	    error: function(e) {
	       // console.log(e.message);
	    }
	});

</script>

</section>

{{ partial "footer.html" . }}