
$image-background: #DBD199;

article.teaser {
  background: #EEEEEE;
  @include span-columns(12);
  margin-bottom: 0.5em;

  @include media($large-screen) {
    @include span-columns(6);
     @include omega(2n);
  }

  .image {
    max-height: 200px;
    background: #EEEEEE;
    img {
      width: 100%;
      max-height: 200px;
      overflow: hidden;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }
  }

  .content {
    padding: 1em 1em 1em 1em;
    height: 200px;
    @include media($large-screen) {
      padding: 0.9em;
    }
  }

  .content h2 {
    font-size: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  .content h4 {
    background: #BBB;
    color: white;
    display: inline-block;
    font-size: .5em;
    font-weight: 800;
    margin-bottom: 1.3em;
    padding: 3px 8px;
    text-transform: uppercase;
  }

  .content p {
    color: gray;
    font-size : 0.8em;
    margin-bottom: 0.5em;
    height: 100px;
  }

}