
$teaser-background-color: $light-gray;

article.teaser {
  background-color: $teaser-background-color;
  @include span-columns(12);
  margin-bottom: 0.5em;

  .image {
    height:100px;
  }

  a { color: $dark-gray; }
  a:hover { color: $dark-gray; }

  @include media($large-screen) {
    @include span-columns(6);
    @include omega(2n);
    .image {
      height:200px;
    }

    &:hover {
      background-color: lighten($teaser-background-color,2);
      .image { opacity: 0.8; }
    }
  }

  .content {
    padding: 1em 1em 1em 1em;
    height: 200px;
    @include media($large-screen) {
      padding: 0.9em;
    }
  }

  .content h2 {
    font-size: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  .content p {
    color: $dark-gray;
    font-size : 0.8em;
    margin-bottom: 0.5em;
    height: 100px;
  }

}