@charset "UTF-8";
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, ../../sass/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../../sass/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, ../../sass/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #606c88;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1;
  padding: 0.7em 0.9em;
  text-decoration: none;
  float: right;
}
/* line 14, ../../sass/base/extends/_button.scss */
button:hover,
input[type="submit"]:hover {
  background-color: #40485b;
  color: white;
}
/* line 19, ../../sass/base/extends/_button.scss */
button:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
@media screen and (min-width: 53.75em) {
  /* line 1, ../../sass/base/extends/_button.scss */
  button,
  input[type="submit"] {
    font-size: 0.7em;
  }
}

/* line 1, ../../sass/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 10, ../../sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 22, ../../sass/base/_typography.scss */
h1 {
  font-weight: 300;
  font-size: 2em;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  padding-bottom: 0.1em;
  margin-bottom: 0.6em;
}

/* line 30, ../../sass/base/_typography.scss */
h2 {
  font-size: 1.2em;
  font-weight: 300;
}

/* line 35, ../../sass/base/_typography.scss */
h3 {
  font-size: 1em;
}

/* line 39, ../../sass/base/_typography.scss */
h4 {
  font-size: 1em;
}

/* line 43, ../../sass/base/_typography.scss */
h5 {
  font-size: 1em;
}

/* line 47, ../../sass/base/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 51, ../../sass/base/_typography.scss */
p {
  font-weight: 300;
  margin: 0 0 0.75em;
}

/* line 56, ../../sass/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #606c88;
  text-decoration: none;
}
/* line 61, ../../sass/base/_typography.scss */
a:hover {
  color: #40485b;
}
/* line 65, ../../sass/base/_typography.scss */
a:active, a:focus {
  color: #40485b;
  outline: none;
}

/* line 71, ../../sass/base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

/* line 79, ../../sass/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 85, ../../sass/base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 92, ../../sass/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 96, ../../sass/base/_typography.scss */
cite:before {
  content: "\2014 \00A0";
}

/* line 1, ../../sass/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 8, ../../sass/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

/* line 16, ../../sass/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 20, ../../sass/base/_forms.scss */
label.required:after {
  content: "*";
}
/* line 24, ../../sass/base/_forms.scss */
label abbr {
  display: none;
}

/* line 29, ../../sass/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
/* line 44, ../../sass/base/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 48, ../../sass/base/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #606c88;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(85, 96, 121, 0.7);
  outline: none;
}

/* line 55, ../../sass/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, ../../sass/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 63, ../../sass/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 69, ../../sass/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%;
}

/* line 74, ../../sass/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

/* line 1, ../../sass/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, ../../sass/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, ../../sass/base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0;
}

/* line 20, ../../sass/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, ../../sass/base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 20, ../../sass/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 23, ../../sass/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 28, ../../sass/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, ../../sass/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 9, ../../sass/_menu.scss */
.centered-navigation {
  background: -webkit-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* W3C */
  border-bottom: 1px solid #343e58;
  font-family: "Roboto Slab", serif;
  height: 60px;
  width: 100%;
  z-index: 9999;
}
/* line 37, ../../sass/_menu.scss */
.centered-navigation .mobile-logo {
  display: inline;
  vertical-align: middle;
  float: left;
  padding-left: 0.5em;
  color: rgba(255, 255, 255, 0.7);
}
/* line 44, ../../sass/_menu.scss */
.centered-navigation .mobile-logo .fa {
  margin-top: 0.15em;
  font-size: 3em;
}
@media screen and (min-width: 53.75em) {
  /* line 37, ../../sass/_menu.scss */
  .centered-navigation .mobile-logo {
    display: none;
  }
}
/* line 54, ../../sass/_menu.scss */
.centered-navigation button {
  display: inline;
  float: right;
  padding: 0;
  margin: 0.8em 1em;
  height: 3em;
  width: 3em;
  background-color: rgba(255, 255, 255, 0.4);
}
@media screen and (min-width: 53.75em) {
  /* line 54, ../../sass/_menu.scss */
  .centered-navigation button {
    display: none;
  }
}
/* line 67, ../../sass/_menu.scss */
.centered-navigation button .fa {
  padding: 0.1em;
  font-size: 2em;
}
/* line 75, ../../sass/_menu.scss */
.centered-navigation .centered-navigation-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 999;
}
/* line 15, ../../sass/bourbon/addons/_clearfix.scss */
.centered-navigation .centered-navigation-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, ../../sass/bourbon/addons/_clearfix.scss */
.centered-navigation .centered-navigation-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 82, ../../sass/_menu.scss */
.centered-navigation ul.centered-navigation-menu {
  -webkit-transform-style: preserve-3d;
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 99999;
}
@media screen and (min-width: 53.75em) {
  /* line 82, ../../sass/_menu.scss */
  .centered-navigation ul.centered-navigation-menu {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 100, ../../sass/_menu.scss */
  .centered-navigation .nav-link:first-child {
    margin-left: 2.2em;
  }
}
/* line 106, ../../sass/_menu.scss */
.centered-navigation ul li.nav-link {
  background: #3f4c6b;
  display: block;
  line-height: 60px;
  overflow: hidden;
  padding-right: 1em;
  text-align: right;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75em) {
  /* line 106, ../../sass/_menu.scss */
  .centered-navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 60px;
  }
  /* line 121, ../../sass/_menu.scss */
  .centered-navigation ul li.nav-link a {
    padding-right: 1em;
  }
}
/* line 126, ../../sass/_menu.scss */
.centered-navigation ul li.nav-link a {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
}
/* line 131, ../../sass/_menu.scss */
.centered-navigation ul li.nav-link a:hover {
  color: #FFFFFF;
}
/* line 137, ../../sass/_menu.scss */
.centered-navigation li.logo.nav-link {
  display: none;
  line-height: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 137, ../../sass/_menu.scss */
  .centered-navigation li.logo.nav-link {
    display: inline;
  }
}
/* line 146, ../../sass/_menu.scss */
.centered-navigation .logo .fa {
  font-size: 2em;
  padding: 0;
  opacity: .6;
  vertical-align: middle;
}
/* line 155, ../../sass/_menu.scss */
.centered-navigation li.more.nav-link {
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 155, ../../sass/_menu.scss */
  .centered-navigation li.more.nav-link {
    padding-right: 1em;
  }
}
/* line 162, ../../sass/_menu.scss */
.centered-navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}
/* line 166, ../../sass/_menu.scss */
.centered-navigation li.more.nav-link a {
  margin-right: 1em;
}
/* line 170, ../../sass/_menu.scss */
.centered-navigation li.more.nav-link > a {
  padding-right: 0.6em;
}
/* line 174, ../../sass/_menu.scss */
.centered-navigation li.more.nav-link > a:after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  color: rgba(255, 255, 255, 0.7);
  content: '\25BE';
}
/* line 181, ../../sass/_menu.scss */
.centered-navigation li.more {
  overflow: visible;
  padding-right: 0;
}
/* line 185, ../../sass/_menu.scss */
.centered-navigation li.more a {
  padding-right: 1em;
}
/* line 189, ../../sass/_menu.scss */
.centered-navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}
@media screen and (min-width: 53.75em) {
  /* line 189, ../../sass/_menu.scss */
  .centered-navigation li.more > a {
    margin-right: 1em;
  }
}
/* line 197, ../../sass/_menu.scss */
.centered-navigation li.more > a:after {
  content: '›';
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
}
/* line 205, ../../sass/_menu.scss */
.centered-navigation li.more:hover > .submenu {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 181, ../../sass/_menu.scss */
  .centered-navigation li.more {
    padding-right: 1em;
    position: relative;
  }
}
/* line 215, ../../sass/_menu.scss */
.centered-navigation ul.submenu {
  display: none;
  padding-left: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 215, ../../sass/_menu.scss */
  .centered-navigation ul.submenu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 225, ../../sass/_menu.scss */
  .centered-navigation ul.submenu .submenu {
    left: 11.8em;
    top: 0;
  }
}
/* line 232, ../../sass/_menu.scss */
.centered-navigation ul.submenu li {
  display: block;
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 232, ../../sass/_menu.scss */
  .centered-navigation ul.submenu li {
    line-height: 46.15385px;
  }
  /* line 239, ../../sass/_menu.scss */
  .centered-navigation ul.submenu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  /* line 244, ../../sass/_menu.scss */
  .centered-navigation ul.submenu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: .7em;
  }
}
/* line 251, ../../sass/_menu.scss */
.centered-navigation ul.submenu li a {
  background-color: #394561;
  display: inline-block;
  text-align: right;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 251, ../../sass/_menu.scss */
  .centered-navigation ul.submenu li a {
    background-color: #3f4c6b;
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}

/* line 268, ../../sass/_menu.scss */
.sliding-menu-content {
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: #404040;
  z-index: 999999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 278, ../../sass/_menu.scss */
.sliding-menu-content li a {
  border-bottom: 1px solid #333;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 1em;
}
/* line 285, ../../sass/_menu.scss */
.sliding-menu-content li a:hover {
  background-color: #606c88;
  color: #fff;
}
/* line 291, ../../sass/_menu.scss */
.sliding-menu-content.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/* line 296, ../../sass/_menu.scss */
.menu-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #333;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;
}
/* line 304, ../../sass/_menu.scss */
.menu-screen.is-visible {
  opacity: .4;
  visibility: visible;
}

/* line 1, ../../sass/_footer.scss */
footer {
  margin-top: 1em;
  background: #414141;
  padding: 1.5em;
  padding-bottom: 3em;
  width: 100%;
  height: 10em;
}
/* line 15, ../../sass/bourbon/addons/_clearfix.scss */
footer:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 53.75em) {
  /* line 1, ../../sass/_footer.scss */
  footer {
    height: 4.5em;
  }
}
/* line 21, ../../sass/_footer.scss */
footer .footer-logo {
  margin-right: 1em;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 53.75em) {
  /* line 21, ../../sass/_footer.scss */
  footer .footer-logo {
    float: left;
    margin-bottom: 0;
  }
}
/* line 30, ../../sass/_footer.scss */
footer .footer-logo img {
  height: 1.6em;
}
/* line 34, ../../sass/_footer.scss */
footer ul {
  margin-bottom: 1em;
}
@media screen and (min-width: 53.75em) {
  /* line 34, ../../sass/_footer.scss */
  footer ul {
    float: left;
    margin-left: 1em;
    margin-bottom: 0;
  }
}
/* line 43, ../../sass/_footer.scss */
footer ul li {
  padding-right: 1em;
  font-weight: 800;
}
@media screen and (min-width: 53.75em) {
  /* line 43, ../../sass/_footer.scss */
  footer ul li {
    display: inline;
    text-align: left;
  }
}
/* line 53, ../../sass/_footer.scss */
footer ul li a {
  color: rgba(255, 255, 255, 0.4);
}
/* line 56, ../../sass/_footer.scss */
footer ul li a:hover {
  color: white;
}
/* line 61, ../../sass/_footer.scss */
footer .footer-primary-links {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
/* line 85, ../../sass/neat/grid/_span-columns.scss */
footer .footer-primary-links:last-child {
  margin-right: 0;
}
/* line 65, ../../sass/_footer.scss */
footer .footer-secondary-links {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
/* line 85, ../../sass/neat/grid/_span-columns.scss */
footer .footer-secondary-links:last-child {
  margin-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 65, ../../sass/_footer.scss */
  footer .footer-secondary-links {
    float: right;
  }
}
/* line 72, ../../sass/_footer.scss */
footer .footer-secondary-links li {
  font-size: .8em;
  font-weight: 400;
  float: right;
}
/* line 78, ../../sass/_footer.scss */
footer .footer-secondary-links ul.footer-social {
  float: right;
}
/* line 15, ../../sass/bourbon/addons/_clearfix.scss */
footer .footer-secondary-links ul.footer-social:after {
  content: "";
  display: table;
  clear: both;
}
/* line 81, ../../sass/_footer.scss */
footer .footer-secondary-links ul.footer-social li {
  float: right;
  font-size: 1em;
  padding-right: .7em;
}
/* line 87, ../../sass/_footer.scss */
footer .footer-secondary-links ul.footer-social img {
  opacity: .7;
  height: 3em;
  padding: 1px;
}
/* line 92, ../../sass/_footer.scss */
footer .footer-secondary-links ul.footer-social img:hover {
  opacity: 1;
}
@media screen and (min-width: 53.75em) {
  /* line 87, ../../sass/_footer.scss */
  footer .footer-secondary-links ul.footer-social img {
    height: 1.5em;
    float: right;
  }
}

/* line 1, ../../sass/_teaser.scss */
article.teaser {
  background: #EEEEEE;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 0.5em;
}
/* line 85, ../../sass/neat/grid/_span-columns.scss */
article.teaser:last-child {
  margin-right: 0;
}
/* line 6, ../../sass/_teaser.scss */
article.teaser .image {
  height: 100px;
}
@media screen and (min-width: 53.75em) {
  /* line 1, ../../sass/_teaser.scss */
  article.teaser {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 85, ../../sass/neat/grid/_span-columns.scss */
  article.teaser:last-child {
    margin-right: 0;
  }
  /* line 82, ../../sass/neat/grid/_omega.scss */
  article.teaser:nth-child(2n) {
    margin-right: 0;
  }
  /* line 87, ../../sass/neat/grid/_omega.scss */
  article.teaser:nth-child(2n+1) {
    clear: left;
  }
  /* line 13, ../../sass/_teaser.scss */
  article.teaser .image {
    height: 200px;
  }
}
/* line 18, ../../sass/_teaser.scss */
article.teaser .content {
  padding: 1em 1em 1em 1em;
  height: 200px;
}
@media screen and (min-width: 53.75em) {
  /* line 18, ../../sass/_teaser.scss */
  article.teaser .content {
    padding: 0.9em;
  }
}
/* line 26, ../../sass/_teaser.scss */
article.teaser .content h2 {
  font-size: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
}
/* line 32, ../../sass/_teaser.scss */
article.teaser .content h4 {
  background: #BBB;
  color: white;
  display: inline-block;
  font-size: .5em;
  font-weight: 800;
  margin-bottom: 1.3em;
  padding: 3px 8px;
  text-transform: uppercase;
}
/* line 43, ../../sass/_teaser.scss */
article.teaser .content p {
  color: gray;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  height: 100px;
}

/* line 1, ../../sass/_article.scss */
article.single {
  text-align: left;
}
/* line 15, ../../sass/bourbon/addons/_clearfix.scss */
article.single:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, ../../sass/bourbon/addons/_clearfix.scss */
article.single .taxonomy:after {
  content: "";
  display: table;
  clear: both;
}
/* line 10, ../../sass/_article.scss */
article.single .categories {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: .7em;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}
/* line 20, ../../sass/_article.scss */
article.single .tags {
  margin-top: 0.6em;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: .7em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
  float: right;
}
/* line 31, ../../sass/_article.scss */
article.single h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 1.2em;
}
/* line 39, ../../sass/_article.scss */
article.single code {
  white-space: nowrap;
  background: #F7F7F7;
  border: 1px solid #E0E0E0;
  border-radius: 4.5px;
  padding: .1em .4em;
  font-size: .8em;
  font-style: normal;
}
/* line 49, ../../sass/_article.scss */
article.single h3 {
  font-family: "Roboto Slab", serif;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.4em;
  margin-bottom: .5em;
}
/* line 58, ../../sass/_article.scss */
article.single p.date {
  color: rgba(51, 51, 51, 0.4);
  font-family: "Roboto Slab", serif;
  font-size: .8em;
  margin-bottom: .5em;
}
/* line 65, ../../sass/_article.scss */
article.single p {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 1;
  margin-bottom: 1.5em;
}
/* line 71, ../../sass/_article.scss */
article.single p span {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: .8em;
  text-transform: uppercase;
}
/* line 79, ../../sass/_article.scss */
article.single a.read-more {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: .8em;
  text-transform: uppercase;
  margin-left: .2em;
  position: relative;
}
/* line 88, ../../sass/_article.scss */
article.single a.read-more span {
  position: absolute;
  font-size: 1.8em;
  top: -2px;
  right: -12px;
}
/* line 96, ../../sass/_article.scss */
article.single hr {
  width: 3em;
}
/* line 100, ../../sass/_article.scss */
article.single p.author {
  font-family: "Roboto Slab", serif;
}

/* line 1, ../../sass/_list.scss */
article.summary {
  display: table;
  width: 100%;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
/* line 13, ../../sass/_list.scss */
article.summary .image,
article.summary .content {
  display: table-cell;
  vertical-align: top;
  float: left;
}
/* line 20, ../../sass/_list.scss */
article.summary .image {
  padding-right: 1em;
  padding-bottom: 0.5em;
}
/* line 24, ../../sass/_list.scss */
article.summary .image > img {
  width: 5em;
  height: auto;
  padding-top: 6px;
  display: block;
  max-width: none;
}
@media screen and (min-width: 53.75em) {
  /* line 36, ../../sass/_list.scss */
  article.summary .image > img {
    width: 10em;
  }
}
/* line 42, ../../sass/_list.scss */
article.summary .content {
  width: 100%;
}
/* line 45, ../../sass/_list.scss */
article.summary .content p {
  margin-bottom: .5em;
  font-size: 0.9em;
}
/* line 50, ../../sass/_list.scss */
article.summary .content p.detail {
  font-style: italic;
  font-size: .9em;
  color: rgba(51, 51, 51, 0.5);
}

/* line 1, ../../sass/_categories.scss */
div.categories {
  display: table;
  width: 100%;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
}
/* line 12, ../../sass/_categories.scss */
div.categories .category {
  display: table-cell;
  float: left;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  padding: 1em 0;
  width: 100%;
}
/* line 15, ../../sass/bourbon/addons/_clearfix.scss */
div.categories .category:after {
  content: "";
  display: table;
  clear: both;
}
/* line 21, ../../sass/_categories.scss */
div.categories .image {
  width: 4em;
  padding-left: 0.5em;
  vertical-align: center;
  display: table-cell;
  float: left;
}
/* line 22, ../../sass/_categories.scss */
div.categories .image i {
  font-size: 3em;
}
/* line 23, ../../sass/_categories.scss */
div.categories .image img {
  width: 2.5em;
}
@media screen and (min-width: 53.75em) {
  /* line 32, ../../sass/_categories.scss */
  div.categories .category {
    max-width: 50%;
    min-height: 10em;
    padding-right: 2em;
  }
  /* line 37, ../../sass/_categories.scss */
  div.categories .image {
    width: 5em;
  }
  /* line 38, ../../sass/_categories.scss */
  div.categories .image i {
    font-size: 4em;
  }
  /* line 39, ../../sass/_categories.scss */
  div.categories .image img {
    width: 3.5em;
  }
}
/* line 44, ../../sass/_categories.scss */
div.categories p {
  margin-left: 5em;
  margin-bottom: .5em;
  font-size: 0.8em;
}
@media screen and (min-width: 53.75em) {
  /* line 44, ../../sass/_categories.scss */
  div.categories p {
    font-size: 1em;
  }
}

/* line 16, ../../sass/screen.scss */
section {
  margin-top: 1em;
}
/* line 15, ../../sass/bourbon/addons/_clearfix.scss */
section:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 53.75em) {
  /* line 16, ../../sass/screen.scss */
  section {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  /* line 15, ../../sass/bourbon/addons/_clearfix.scss */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
}
