
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{ .Site.BaseUrl }}/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

    <script src="{{ .Site.BaseUrl }}/js/vendor/jquery.dotdotdot.min.js"></script>

		<script type="text/javascript">
			$(document).ready(function(){
			  $('.js-menu-trigger').on('click touchstart', function(e){
			    $('.js-menu').toggleClass('is-visible');
			    $('.js-menu-screen').toggleClass('is-visible');
			    e.preventDefault();
			  });

			  $('.js-menu-screen').on('click touchstart', function(e){
			    $('.js-menu').toggleClass('is-visible');
			    $('.js-menu-screen').toggleClass('is-visible');
			    e.preventDefault();
			  });

			  $(".summary").dotdotdot();

			});
		</script>

    <script type="text/javascript">
    <!--
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', {{ .Site.Params.gaCode }}]);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    -->
    </script>

  </body>
</html>